# ------------------------------------------------------------------------------
#            LOGGING
# ------------------------------------------------------------------------------
log4j.rootLogger=<%= @loglevel %>, errorOutput, normalOutput

log4j.appender.errorOutput=org.apache.log4j.RollingFileAppender
log4j.appender.errorOutput.Threshold=ERROR
log4j.appender.errorOutput.File=/opt/esbolsa-charts/logs/esBolsaChartsError.log
log4j.appender.errorOutput.MaxFileSize=50MB
log4j.appender.errorOutput.MaxBackupIndex=3
log4j.appender.errorOutput.layout=org.apache.log4j.PatternLayout
log4j.appender.errorOutput.layout.ConversionPattern=%d %5p [%t] (%F:%L) - %m%n

log4j.appender.normalOutput=org.apache.log4j.RollingFileAppender
log4j.appender.normalOutput.File=/opt/esbolsa-charts/logs/esBolsaCharts.log
log4j.appender.normalOutput.MaxFileSize=100MB
log4j.appender.normalOutput.MaxBackupIndex=3
log4j.appender.normalOutput.layout=org.apache.log4j.PatternLayout
log4j.appender.normalOutput.layout.ConversionPattern=%d %5p [%t] (%F:%L) - %m%n

# ------------------------------------------------------------------------------
#            SERVER CONFIGURATION (time units in secs)
# ------------------------------------------------------------------------------

server.storage.original.tickers.BONDS = /opt/esbolsa-charts/data/original/bonds.txt
server.storage.original.tickers.ADVANCE_DECLINE = /opt/esbolsa-charts/data/original/advanceDecline.txt
server.storage.original.tickers.AMERICAN_SECTORS = /opt/esbolsa-charts/data/original/americanSectors.txt
server.storage.original.tickers.WORLD_INDEXES = /opt/esbolsa-charts/data/original/worldIndexes.txt
server.storage.original.tickers.STOCKS = /opt/esbolsa-charts/data/original/stocks.txt
server.storage.original.tickers.EUROPEAN_SECTORS = /opt/esbolsa-charts/data/original/europeanSectors.txt
server.storage.original.tickers.COMMODITIES = /opt/esbolsa-charts/data/original/commodities.txt
server.storage.original.tickers.CURRENCIES = /opt/esbolsa-charts/data/original/currencies.txt

server.storage.original.stocks.path.file    = /opt/esbolsa-charts/data/original/stocks.csv
server.storage.original.stocks.path.file.txt    = /opt/esbolsa-charts/data/original/stocks.txt
server.storage.original.fgbl2.path.file    = /opt/esbolsa-charts/data/original/CME-FGBL2.csv
server.storage.original.currency.path.folder    = /opt/esbolsa-charts/data/currency

server.domain = <%= @server_domain %>
server.host = localhost
server.workers.number = 6

server.redis.host = <%= @redis_server %>
server.redis.num.connections = 30
server.redis.port = 6379

http.pool.conexions=30

server.mysql.host = jdbc:mysql://<%= @mysql_server %>:3306/
server.mysql.db_name = <%= @mysql_dbname %>
server.mysql.user = <%= @mysql_user %>
server.mysql.passwd = <%= @mysql_pwd %>
server.mysql.minsize = 5
server.mysql.maxsize = 20
