# ------------------------------------------------------------------
# AWS esBolsa Redis Server
# Server Release:  <%= @lastrelease %>
# Server Created:  <%= @servercreated %>
# ------------------------------------------------------------------

 <% if @instance[:region] && @instance[:availability_zone] && @instance[:aws_instance_id] -%>
   EC2 Region: <%= @instance[:region] %>
   EC2 Availability Zone: <%= @instance[:availability_zone] %>
   EC2 Instance ID: <%= @instance[:aws_instance_id] %>
<% end -%>
<% if @instance[:ip] && @instance[:private_ip] -%>
   Public IP: <%= @instance[:ip] %>
   Private IP: <%= @instance[:private_ip] %>
<% end -%>   
<% if @stack[:vpc_id] && @instance[:subnet_id] -%>
   VPC ID: <%= @stack[:vpc_id] %>
   Subnet ID: <%= @instance[:subnet_id] %>
<% end -%>

  Welcome ;)

  