# ------------------------------------------------------------------
# AWS esBolsa Redis Server
# Server Release:  <%= @lastrelease %>
# Server Created:  <%= @servercreated %>
# ------------------------------------------------------------------

   Welcome ;)

   
