user  <%= @user %>;
worker_processes  <%= @worker_processes %>;

events {
    worker_connections <%= @worker_connections %>;
    use epoll;
    multi_accept on;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    access_log    off; 
    log_not_found off; 
    error_log     /var/log/nginx-error.log warn;    

    client_max_body_size    5M; 
    client_body_buffer_size 128k; 
    client_body_timeout     15; 
    client_header_timeout   15; 
    keepalive_timeout       <%= @keepalive_timeout %>; 
    send_timeout            15; 
    sendfile                on; 
    tcp_nopush              on; 
    tcp_nodelay             on;
    server_tokens           off;

    open_file_cache          max=10000 inactive=5m;
    open_file_cache_valid    2m;
    open_file_cache_min_uses 1;
    open_file_cache_errors   on;

    gzip  on;
    gzip_http_version 1.0;
    gzip_comp_level 2;
    gzip_proxied any;
    gzip_vary off;
    gzip_types text/plain text/css application/x-javascript text/xml application/xml application/rss+xml application/atom+xml text/javascript application/javascript application/json tex//mathml;
    gzip_min_length  1000;
    gzip_disable     "MSIE [1-6]\.";

    server {
        listen       <%= @server_port %>;
        server_name  localhost;

        root <%= @root_path %>;
        index index.php index.html index.htm;

        location / {
                try_files $uri $uri/ /index.php?$args;
        }

        location ~ .php$ {
                try_files $uri /index.php;
                include fastcgi_params;
                fastcgi_pass unix:/var/run/php5-fpm.sock;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_index index.php;
        }

        rewrite ^/sitemap_index\.xml$ /index.php?sitemap=1 last;
        rewrite ^/([^/]+?)-sitemap([0-9]+)?\.xml$ /index.php?sitemap=$1&sitemap_n=$2 last;
    }
}
