vcl 4.0;

# Default backend definition. Set this to point to your content server.
backend default {
  .host = "127.0.0.1";
  .port = "<%= @server_port %>";
}

# Only allow purging from specific IPs
acl purge {
  "127.0.0.1";
  "localhost";
}

# --------------------------------------------------------------------------------------------------
# This function is used when a request is send by a HTTP client (Browser) 
# --------------------------------------------------------------------------------------------------
sub vcl_recv {
    # ------------------------------------------------
    # --- General configuration
    # ------------------------------------------------
    # Allow purging from ACL
    if (req.method == "PURGE") {
        # If not allowed then a error 405 is returned
        if (!client.ip ~ purge) {
            return(synth(405, "This IP is not allowed to send PURGE requests."));
        }
        return (purge);
    }

    # set standard proxied ip header for getting original remote address
    if (req.restarts == 0) {
        if (req.http.x-forwarded-for) {
            set req.http.X-Forwarded-For =
            req.http.X-Forwarded-For + ", " + client.ip;
        } else {
            set req.http.X-Forwarded-For = client.ip;
        }
    }

    if (req.http.Authorization) {
        return (pass);
    }

    # ------------------------------------------------
    # --- Wordpress specific configuration
    # ------------------------------------------------

    # logged in users must always pass
    if( req.url ~ "^/wp-(login|admin)" || req.http.Cookie ~ "wordpress_logged_in_" ){
        return (pass);
    }

    # don't cache search results
    if( req.url ~ "\?s=" ){
        return (pass);
    }

    # always pass through posted requests and those with basic auth
    if ( req.method == "POST") {
         return (pass);
    }

    # Cache the following files extensions 
    if (req.url ~ "\.(css|js|png|gif|jp(e)?g|swf|ico)") {
        unset req.http.cookie;
    }

    # Normalize Accept-Encoding header and compression
    # https://www.varnish-cache.org/docs/3.0/tutorial/vary.html
    if (req.http.Accept-Encoding) {
        # Do no compress compressed files...
        if (req.url ~ "\.(jpg|png|gif|gz|tgz|bz2|tbz|mp3|ogg)$") {
                unset req.http.Accept-Encoding;
        } elsif (req.http.Accept-Encoding ~ "gzip") {
                set req.http.Accept-Encoding = "gzip";
        } elsif (req.http.Accept-Encoding ~ "deflate") {
                set req.http.Accept-Encoding = "deflate";
        } else {
            unset req.http.Accept-Encoding;
        }
    }


    # else ok to fetch a cached page
    unset req.http.Cookie;
    return (hash);
}

# ----------------------------------------------------------------------------------------------------------
# The data on which the hashing will take place
# ----------------------------------------------------------------------------------------------------------
sub vcl_hash {
    hash_data( req.url );
    if ( req.http.host ) {
        hash_data( regsub( req.http.host, "^([^\.]+\.)+([a-z]+)$", "\1\2" ) );
    } else {
        hash_data( server.ip );
    }

    # If the client supports compression, keep that in a different cache
    if (req.http.Accept-Encoding) {
        hash_data(req.http.Accept-Encoding);
    }

    return (lookup);
}

# ------------------------------------------------------------------------------------------------------
# This function is used when a request is sent by our backend (Nginx server)
# ------------------------------------------------------------------------------------------------------
sub vcl_backend_response {
    # remove some headers we never want to see
    unset beresp.http.Server;
    unset beresp.http.X-Powered-By;

    # For static content strip all backend cookies
    if (bereq.url ~ "\.(css|js|png|gif|jp(e?)g)|swf|ico") {
        unset beresp.http.cookie;
    }

    # Only allow cookies to be set if we're in admin area
    if (beresp.http.Set-Cookie && bereq.url !~ "^/wp-(login|admin)") {
        unset beresp.http.Set-Cookie;
    }

    # don't cache response to posted requests or those with basic auth
    if ( bereq.method == "POST" || bereq.http.Authorization ) {
        set beresp.uncacheable = true;
        set beresp.ttl = 120s;
        return (deliver);
    }

    # don't cache search results
    if( bereq.url ~ "\?s=" ){
        set beresp.uncacheable = true;
        set beresp.ttl = 120s;
        return (deliver);
    }

    # only cache status ok
    if ( beresp.status != 200 ) {
        set beresp.uncacheable = true;
        set beresp.ttl = 120s;
        return (deliver);
    }

    # A TTL of 24h
    set beresp.ttl = 24h;

    # Define the default grace period to serve cached content
    set beresp.grace = 30s;

    return (deliver);
}

# ------------------------------------------------------------------------------------------------
# The routine when we deliver the HTTP request to the user
# Last chance to modify headers that are sent to the client
# ------------------------------------------------------------------------------------------------
sub vcl_deliver {
    if (obj.hits > 0) { 
        set resp.http.X-Cache = "cached";
    } else {
        set resp.http.x-Cache = "uncached";
    }

    # Remove some headers: PHP version
    unset resp.http.X-Powered-By;

    # Remove some headers: Apache version & OS
    unset resp.http.Server;

    # Remove some heanders: Varnish
    unset resp.http.Via;
    unset resp.http.X-Varnish;

    return (deliver);
}

# -------------------------------------------------------------------
# Deliver cached content
# -------------------------------------------------------------------
sub vcl_hit {
    return (deliver);
}
 
# -------------------------------------------------------------------
# If content is not in cache, fetch from backend 
# -------------------------------------------------------------------
sub vcl_miss {
    return (fetch);
}
