# ------------------------------------------------------------------
# esBolsa Web Server (http://esbolsa.com)
# Server Release:  <%= @lastrelease %>
# Server Created:  <%= @servercreated %>
# ------------------------------------------------------------------

   Welcome ;)

   
